<head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-widt, inital-scale=1">
    <link rel="shortcut icon" href="{{url_for('static', path='favicon.png')}}">
    <link href="{{ url_for('static', path='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='css/bootstrap-icons.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', path='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', path='js/common.js') }}" defer></script>
</head>