<div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
    <p class="lead fw-normal mb-0 me-3">{% if ctx == 'signup' %}Sign up {% else %} Sign in {% endif %} with</p>
    <a href="{{ URL(url_for('idp_login')).include_query_params(provider='google') }}">
        <button type="button" class="btn btn-primary btn-floating mx-1">
            <i class="bi bi-google"></i>
        </button>
    </a>
    <a href="{{ URL(url_for('idp_login')).include_query_params(provider='microsoft')}}">
        <button type="button" class="btn btn-primary btn-floating mx-1">
            <i class="bi bi-microsoft"></i>
        </button>
    </a>
</div>
