<html lang="en">

  {% include "head.jinja2" %}

</html>

<body>
<section class="vh-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 text-black">
            {% include "logo.jinja2" %}
        
            {% if data and data["user"] %}
                {% include 'user-info.jinja2' %}
            {% elif ctx == "signin" or ctx is not defined %}
                {% include 'loginForm.jinja2' %}
            {% elif ctx == "signup" %}
                {% include 'registerForm.jinja2'%}
            {% elif ctx == "signup-success" %}
                {% include 'signup-success.jinja2'%}
            {% endif %}
      </div>
      <div class="col-sm-6 px-0 d-none d-sm-block">
      {% set background_path = 'images/background-%s.jpg' | format (range(0,4) | random ) %}
        <img src="{{ url_for('static', path=background_path) }}"
          alt="Background image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
      </div>
    </div>
  </div>
</section>
</body>