    {% if error is defined %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="bi bi-exclamation-triangle-fill me-4"></i><span class="ms-4">{{ error }}</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}



<div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">


    <form style="width: 23rem;" action={{url_for("login")}} method="post">

    <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Log in</h3>

    <div class="form-outline mb-4">
        <input name="email" type="email" id="formEmail" class="form-control form-control-lg" />
        <label class="form-label" for="formEmail">Email address</label>
    </div>

    <div class="form-outline mb-4">
        <input name="password" type="password" id="formPassword" class="form-control form-control-lg" />
        <label class="form-label" for="formPassword">Password</label>
    </div>

    <div class="pt-1 mb-4">
        <input type="submit" class="btn btn-success btn-lg btn-block" value="Login"></input>
    </div>

    <p class="small mb-5 pb-lg-2"><a class="text-muted" href="#!">Forgot password?</a></p>
    {% include 'idp-icons-row.jinja2' %}
    <p>Don't have an account? <a href="{{ url_for('signup') }}" class="link-info">Register here</a></p>

    </form>

</div>

