<div class="px-1 mx-4">
    <img src="{{ url_for('static', path='high-res-logo.png') }}" class="img-fluid w-25" alt="Project Calendar's logo"/>
    <span class="h3 fw-bold primary mb-9">Project Calendar</span>
</div>