<html lang="en">

  {% include "head.jinja2" %}

</html>

<body>
<section class="vh-100">
  <div class="container-fluid">
    <div class="row">
     <div class="col-sm-6 text-black">
      {% include "logo.jinja2" %}
      <h1>401</h1>
      <h5>Apparently you cannot go in there...</h5>
      <button class="button btn-primay">Go to the login page</button>
    </div>
    </div>
  </div>
</section>
</body>