
{% set pattern = "^(?=(.*?[A-Z]){2})(?=(.*?[a-z]){3})(?=(.*?[0-9]){3})(?=.*?[#?!@$%^&*-]).{8,}$" %}
{% set bad_password_message = "Password needs to contain at least 3 digits, 2 uppercase letters, 3 lowercase letters and one of !@#$%^&*+_<>?:|';,. characters." %}

{% if error is defined %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <i class="bi bi-exclamation-triangle-fill me-4"></i><span class="ms-4">{{ error }}</span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
<div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

    <form style="width: 23rem;" method="post" class="needs-validation" novalidate>

    <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign up</h3>

    <div class="form-outline form-floating mb-4">
        <label class="form-label control-label" for="formEmail">Email address</label>
        <div class="input-group">
            <div class="input-group-text"><i class="bi bi-envelope"></i></div>
            <input name="email" type="email" id="formEmail" class="form-control form-control-lg" aria-label="Email" placeholder="Email" required />
            <div class="invalid-feedback">Please provide a valid email address.</div>
        </div>
    </div>

    <div class="form-outline form-floating mb-4">
        <label class="form-label" for="formUsername">Username</label>
        <div class="input-group">
            <div class="input-group-text"><i class="bi bi-person"></i></div>
            <input name="username" type="text" id="formUsername" class="form-control form-control-lg" aria-label="Username" placeholder="Username" required  />
            <div class="invalid-feedback">This field is required.</div>
        </div>
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" for="formPassword">Password</label>
        <div class="input-group change-password-type">
            <input name="password" type="password" id="formPassword" class="form-control form-control-lg" pattern={{pattern}} title={{bad_password_message}} required />
            <button class="btn btn-outline-secondary vis-button show" type="button"><i class="bi bi-eye"></i></button>
            <button class="btn btn-outline-secondary vis-button hide" type="button" style="display: none;"><i class="bi bi-eye-slash"></i></button>
            <div class="invalid-feedback">{{bad_password_message}}</div>
        </div>
    </div>

    <div class="form-outline mb-4">
            <label class="form-label" for="formRepeatPassword">Repeat your password</label>
        <div class="input-group change-password-type">
            <input name="repeated_password" type="password" id="formRepeatPassword" class="form-control form-control-lg" pattern={{pattern}} title={{bad_password_message}} required/>
            <button class="btn btn-outline-secondary vis-button show" type="button"><i class="bi bi-eye"></i></button>
            <button class="btn btn-outline-secondary vis-button hide" type="button" style="display: none;"><i class="bi bi-eye-slash"></i></button>
            <div class="invalid-feedback">Passwords need to be the same.</div>
        </div>
    </div>

    <div class="pt-1 mb-4">
        <input type="submit" class="btn btn-success btn-lg btn-block" type="button"></input>
    </div>

    <p class="small mb-5 pb-lg-2"><a class="text-muted" href="#!">Forgot password?</a></p>
    {% include 'idp-icons-row.jinja2' %}
    <p>Already have an account? <a href="{{ url_for('homepage') }}" class="link-info">Login here</a></p>

    </form>

</div>