<div class="container-fluid h-100 align-items-center">
    <div class="row align-content-center h-50">
        <h4>Almost done!</h4>
        <p>We sent an email to {{data["email"]}}. Click the activation link to finalize the registration process.</p>
        <div class="mx-auto"><a href="/"><button class="btn btn-success w-25">Go back</button></a></div>
    </div>
</div>