<div class="card" style="w-25 h-50">
  <div class="card-body">
    <div class="row">
      <img src={{ data["user"]["profile_picture_url"] }} class="rounded-circle shadow-4 h-25 w-25" alt="Your avatar"/>
      <h5 class="card-title">
          Hi there, {{ data["user"]["username"] }}
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ data["user"]["sub"] }}</h6>
    </div>
    <p class="card-text">Here you can see some most basic info about your profile or log out.</p>
    <a href="{{ url_for('logout') }}"><button type="button" class="btn btn-danger">Sign out</button></a>
  </div>
</div>
